title Uscitech
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
link(href='https://fonts.googleapis.com/css?family=Muli:300,400,700,900' rel='stylesheet')
//  Vendor CSS Files 
link(href='public/assets1/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
link(href='public/assets1/vendor/icofont/icofont.min.css' rel='stylesheet')
link(href='public/assets1/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
link(href='public/assets1/vendor/venobox/venobox.css' rel='stylesheet')
link(href='public/assets1/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
link(href='public/assets1/vendor/aos/aos.css' rel='stylesheet')
//  Favicons 
link(href='public/assets/img/favicon.png' rel='icon')
link(href='public/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
link(rel='stylesheet' href='public/css/bootstrap.min.css')
link(rel='stylesheet' href='public/css/jquery-ui.css')
link(rel='stylesheet' href='public/css/owl.carousel.min.css')
link(rel='stylesheet' href='public/css/aos.css')
link(rel='stylesheet' href='public/css/style.css')
style.
  
  @import url('http://fonts.cdnfonts.com/css/funtauna');
  
br
br
br
br
.col-lg-9.ml-auto(data-aos='fade-up' data-aos-delay='500')
  div(data-aos='fade-up' data-aos-delay='300')
    .teacher.text-center.col-lg-9
      img.img-fluid.w-50.rounded-circle.mx-auto.mb-4(src=src alt='image')
      .py-2
        h1.text-black #{identity.toUpperCase()}
        br
        br
        br
        br
        img.img-fluid(src='public/images/billet.jpg' alt='billet')
script(src='public/js/jquery-3.3.1.min.js')
script(src='public/js/jquery-migrate-3.0.1.min.js')
script(src='public/js/jquery-ui.js')
script(src='public/js/popper.min.js')
script(src='public/js/bootstrap.min.js')
script(src='public/js/owl.carousel.min.js')
script(src='public/js/jquery.stellar.min.js')
script(src='public/js/jquery.countdown.min.js')
script(src='public/js/bootstrap-datepicker.min.js')
script(src='public/js/jquery.easing.1.3.js')
script(src='public/js/aos.js')
script(src='public/js/jquery.fancybox.min.js')
script(src='public/js/jquery.sticky.js')
//  Vendor JS Files 
script(src='public/assets1/vendor/jquery/jquery.min.js')
script(src='public/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='public/assets1/vendor/jquery.easing/jquery.easing.min.js')
script(src='public/assets1/vendor/php-email-form/validate.js')
script(src='public/assets1/vendor/waypoints/jquery.waypoints.min.js')
script(src='public/assets1/vendor/counterup/counterup.min.js')
script(src='public/assets1/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='public/assets1/vendor/venobox/venobox.min.js')
script(src='public/assets1/vendor/owl.carousel/owl.carousel.min.js')
script(src='public/assets1/vendor/typed.js/typed.min.js')
script(src='public/assets1/vendor/aos/aos.js')
//  Template Main JS File 
script(src='public/assets1/js/main.js')
script(src='public/js/main.js')