title Uscitech
meta(charset='utf-8')
meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
link(href='https://fonts.googleapis.com/css?family=Muli:300,400,700,900' rel='stylesheet')
//  Vendor CSS Files 
link(href='public/assets1/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
link(href='public/assets1/vendor/icofont/icofont.min.css' rel='stylesheet')
link(href='public/assets1/vendor/boxicons/css/boxicons.min.css' rel='stylesheet')
link(href='public/assets1/vendor/venobox/venobox.css' rel='stylesheet')
link(href='public/assets1/vendor/owl.carousel/assets/owl.carousel.min.css' rel='stylesheet')
link(href='public/assets1/vendor/aos/aos.css' rel='stylesheet')
//  Favicons 
link(href='public/assets/img/favicon.png' rel='icon')
link(href='public/assets/img/apple-touch-icon.png' rel='apple-touch-icon')
link(rel='stylesheet' href='public/css/bootstrap.min.css')
link(rel='stylesheet' href='public/css/jquery-ui.css')
link(rel='stylesheet' href='public/css/owl.carousel.min.css')
link(rel='stylesheet' href='public/css/aos.css')
link(rel='stylesheet' href='public/css/style.css')
style.
  
  @import url('http://fonts.cdnfonts.com/css/funtauna');
  
.site-wrap
  .site-mobile-menu.site-navbar-target
    .site-mobile-menu-header
      .site-mobile-menu-close.mt-3
        span.icon-close2.js-menu-toggle
    .site-mobile-menu-body
  header.site-navbar.py-4.js-sticky-header.site-navbar-target(role='banner')
    .container-fluid
      .d-flex.align-items-center
        .site-logo.mr-auto.w-25
          a(href='/')
            | Uscitech
            img.img-fluid(src='public/images/logo.png')
        .mx-auto.text-center.
          
          
        .ml-auto.w-25
          nav.site-navigation.position-relative.text-right(role='navigation')
            ul.site-menu.main-menu.site-menu-dark.js-clone-nav.mr-auto.d-none.d-lg-block.m-0.p-0
              li.cta
                a.nav-link(href='mailto:elielmungo9@gmail.com')
                  span Contactez-nous
          a.d-inline-block.d-lg-none.site-menu-toggle.js-menu-toggle.text-black.float-right(href='#')
            span.icon-menu.h3
  .intro-section#home-section
    .slide-1(style='background-image: url(\'public/images/1.png\');' data-stellar-background-ratio='0.5')
      .container
        .row.align-items-center
          .col-12
            br
            br
            .row.align-items-center
              .col-lg-4.col-md-2.mb-4
                p(data-oas='fade-up')
                  span.typed(data-typed-items='Enregistrez vous, Payer votre accès via whatsapp, Et Obtenez votre QR code')
              .col-lg-8.ml-auto(data-aos='fade-up' data-aos-delay='500')
                form.form-box(method='post' action='/confirm')
                  h3.h4.text-black.mb-4 Pour obtenir votre QR code veuillez payer via whatsapp et obtenez un code de confirmation que vous allez inserer ci-dessous.
                  a(href='https://wa.me/message/V4OQUVYNXYCGI1' target='_blank')
                    | Cliquez ici. 
                    img.img-fluid(src='public/images/wha.png')
                  br
                  br
                  .form-group
                    input.form-control(type='email' name='email' required)
                  .form-group
                    input.form-control(type='text' placeholder='insérer le code de confirmation' name='code' minlength='8' maxlength='8' required)
                  .form-group
                    input.btn.btn-primary.btn-pill(type='submit' value='VALIDER')
 
script(src='public/js/jquery-3.3.1.min.js')
script(src='public/js/jquery-migrate-3.0.1.min.js')
script(src='public/js/jquery-ui.js')
script(src='public/js/popper.min.js')
script(src='public/js/bootstrap.min.js')
script(src='public/js/owl.carousel.min.js')
script(src='public/js/jquery.stellar.min.js')
script(src='public/js/jquery.countdown.min.js')
script(src='public/js/bootstrap-datepicker.min.js')
script(src='public/js/jquery.easing.1.3.js')
script(src='public/js/aos.js')
script(src='public/js/jquery.fancybox.min.js')
script(src='public/js/jquery.sticky.js')
//  Vendor JS Files 
script(src='public/assets1/vendor/jquery/jquery.min.js')
script(src='public/assets1/vendor/bootstrap/js/bootstrap.bundle.min.js')
script(src='public/assets1/vendor/jquery.easing/jquery.easing.min.js')
script(src='public/assets1/vendor/php-email-form/validate.js')
script(src='public/assets1/vendor/waypoints/jquery.waypoints.min.js')
script(src='public/assets1/vendor/counterup/counterup.min.js')
script(src='public/assets1/vendor/isotope-layout/isotope.pkgd.min.js')
script(src='public/assets1/vendor/venobox/venobox.min.js')
script(src='public/assets1/vendor/owl.carousel/owl.carousel.min.js')
script(src='public/assets1/vendor/typed.js/typed.min.js')
script(src='public/assets1/vendor/aos/aos.js')
//  Template Main JS File 
script(src='public/assets1/js/main.js')
script(src='public/js/main.js')