link(href='https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400'
    rel='stylesheet'
    )
link(rel="stylesheet", href="public/css/error.css")
h1 #{status}
h2
  | !{message} 
  b :(
  br
  a(href="/") Retour à l'acceuil
.gears
  .gear.one
    .bar
    .bar
    .bar
  .gear.two
    .bar
    .bar
    .bar
  .gear.three
    .bar
    .bar
    .bar
script(src='https://code.jquery.com/jquery-1.10.2.js')
script(src='public/js/error500.js' type='text/javascript')